@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Global Styles */
a {
  /* color: #000; */
  text-decoration: none;
}

.btn {
  background: rgba(49, 61, 102, 0.534);
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  color: #fff;
  transition: 0.4s ease;
}
.btn:hover {
  background: rgb(49, 61, 102);
}

.section {
  padding: 1rem 0;
  position: relative;
}

.section-center {
  width: 95vw;
  max-width: 1150px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .section-center {
    width: 90vw;
  }
}


/** no user */
.no-user {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 94px);
}

.no-user-text {
  font-size: 3rem;
  font-weight: 700;
  color:rgb(49, 61, 102);
}